<!DOCTYPE html>
<html>
<head>
	<title>SnappyChat</title>
	<link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<div class="topbar js-topbar">
  <div class="global-nav bg global-nav--newLoggedOut" data-section-term="top_nav">
    <center><img src="/stylesheets/logo.jpg" alt="Twitter" height="46" width="54" ></center>
</div>
</div>
<br><br><br><br><br><br><br><br><br><br>
<div class="sheet">
<h1 align="center">Insert Stories</h1><br>
</div>
<form action="/ins_stories" class="signup" id="signup" method="post" align="center">
<div class="textbox">
<input id="username" name="username" type="text" maxlength="20" placeholder="username"><br><br>
<input id="text" name="text" type="text" maxlength="20" placeholder="text"><br><br>
<input id="pictures" type="text" name="pictures" autocomplete="off" value="" placeholder="pictures"><br><br>
<input id="likes" name="likes" type="text" maxlength="10" placeholder="likes"><br><br>
<input id="comments" name="comments" type="text" maxlength="10" placeholder="comments"><br><br>
<button type="submit" id="sign" class="button">Insert</button><br><br>
</div></form>
</body>
</html>